.page {
  max-width: 1080px;
  width: 100%;
  height: 2215px;
  background-color: #ffffff;
  margin: 0 auto;
}

.block1 {
  max-width: 1080px;
  width: 100%;
  height: 95px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block1__img {
  width: 197px;
  height: 65px;
  object-fit: contain;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: url("https://pp.userapi.com/c840231/v840231812/44a52/oY5KFYUAQJ8.jpg");
  background-size: 100%;
}

.block1__item {
  width: 173px;
  height: 21px;
  margin-left: 280px;
  margine-right: 126px;
}

.block1__item__text {
  font-family: Roboto;
  font-size: 21px;
  line-height: 1;
  color: #333;
}

.block1__item__text:active {
  color: #333;
  font-family: Roboto;
  font-size: 21px;
  line-height: 1;
  outline: none;
}

.block2 {
  max-width: 1080px;
  width: 100%;
  height: 65px;
  background-color: #3e4757;
  margin: 0 auto;
}

.block2__menu {
  margin-left: 126px;
  margin-right: 126px;
  justify-content: space-between !important;
  font-size: 13px;
  display: flex;
}

.block2__button {
  height: 15px;
  margin-top: 25px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0.9px;
  color: #fff;
  outline: none;
}

.block2__button:hover {
  padding-bottom: 38px;
  border-bottom: 3px solid #ffdd2d;
  color: #fff;
  text-decoration: none;
}

.block3 {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  height: 410px;
  background-image: linear-gradient(to right, #1489e7, #003e82);
}

.block3__image {
  height: 546px;
  margin: -86px 0 0 -35px;
}

.block3__text1 {
  width: 342px;
  height: 100px;
  font-family: Roboto;
  font-size: 50px;
  line-height: 1;
  font-weight: lighter;
  color: #fff;
  margin-top: 91px;
}

.block3__text2 {
  margin-top: 18px;
  width: 326px;
  height: 48px;
  font-family: Roboto;
  font-weight: 50;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.block3__button {
  border: 0px;
  margin-top: 20px;
  width: 212px;
  height: 62px;
  border-radius: 6px;
  background-color: #ffdd2d;
  background-color: var;
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.41;
  color: #333;
}

.middle-block1 {
  margin: 82px auto 50px auto;
  max-width: 829px;
  width: 100%;
  height: 58px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: #333;
}

.block4 {
  max-width: 829px;
  width: 100%;
  height: 132px;
  border-radius: 6px;
  border: solid 1px #dddfe0;
  margin: 0 auto;
  padding: 18px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.block4__tag {
  display: flex;
  box-sizing: border-box;
  max-width: 300px;
  height: 42px;
  border-radius: 6px;
  background-color: #eef2f7;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.block4__button {
  border: none;
  outline: none;
  background-color: #eef2f7;
}

.block4__item__crossimage {
  width: 11px;
  height: 11px;
  border: none;
  background-color: #eef2f7;
  margin-bottom: 3px;
  z-index: 5;
  position: relative;
}

.block4__item {
  max-width: 256px;
  font-family: Roboto;
  font-size: 13px;
  maxlength: 22;
  padding-right: 3px;
  color: #333;
}

.block4__item:hover {
  text-decoration: none;
  color: #333;
}

.block4__space {
  padding: 6px;
}

.block4__input {
  font-family: Roboto;
  outline: none;
  border: none;
  font-size: 13px;
  padding: 14px 12px 13px 10px;
}

.middle-block2 {
  max-width: 540px;
  width: 100%;
  height: 120px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.08;
  text-align: center;
  color: #333333;
  margin: 76px auto 67px auto;
}

.block5 {
  margin: 67px auto;
  display: block;
  max-width: 540px;
  width: 100%;
  height: 694px;
  padding-bottom: 57px;
}

.block5__cont {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  align-items: stretch;
}

.block5__cont__elem {
  width: 540px;
  height: 66px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background-color: #eef2f7;
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-right: 17px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.block5__cont__elem__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block5__cont__elem__content__label {
  height: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  color: #74a3c7;
}

.block5__cont__elem__content__input-field {
  border: none;
  height: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 17px;
  color: #333333;
  background: none;
}

.block5__cont__elem__content__message-label {
  height: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  color: #d0021b;
  margin-bottom: 24px;
}

.middle-block3 {
  max-width: 245px;
  width: 100%;
  height: 24px;
  font-family: Roboto;
  display: flex;
  margin: auto;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  color: #333333;
}

.block6 {
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.block6__cont {
  max-width: 258px;
  height: 66px;
  display: flex;
  padding: 18px;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #dddfe0;
  box-sizing: border-box;
}

.block6__cont__text {
  width: 57px;
  height: 20px;
  opacity: 0.6;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 17px;
  color: #74a3c7;
}

.block7 {
  max-width: 258px;
  width: 100%;
  height: 66px;
  border-radius: 6px;
  display: flex;
  margin: auto;
  align-self: center;
  margin-bottom: 57px;
  margin-top: 49px;
  box-sizing: border-box;
  background-color: #ffdd2d;
}

.block5__exclmark-image {
  margin-left: auto;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.block5__questmark-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: auto;
}

.block6__cont__but-image-on {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-left: auto;
}

.block6__cont__but-image-off {
  width: 30px;
  height: 30px;
  object-fit: contain;
  background-color: none;
  margin-left: auto;
}

.block7__cont {
  height: 20px;
  display: flex;
  margin: auto;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 17px;
  color: #333333;
}
